<div class="charity-details">
	<div class="item-heading">
		<div class="details-title ellipsis">{{{name}}}</div>
	</div>
	<div class="content">
		<div class="charity-corner">
			<div class="logo-container">
				
			</div>
		</div>	
		<div class="description">{{description}}</div>
		<div class="button-container ">
			<a class="website charity-button ellipsis" href="{{websiteUrl}}" target="_blank"><i class="fa fa-globe"></i> Website</a>	
			<div class="add-charity charity-button"><i class="fa fa-plus-square"></i> Sponsor us</div>
		</div>
	</div>
	<div class="registration">Registered Charity #{{registrationNumber}}</div>
</div>
