<div class="wm-window active" id="52ab89690baa46c9ebfa688c" style="width: 400px; height: 300px; right: 0px; top: 160px; z-index: 1001; display: block;">
	<div class="wm-window-box">
		<header class="wm-window-title" unselectable="on">
			<h1 unselectable="on">Youtube | ABBA goes to the dogs!</h1>
			<div class="wm-button-group">
				<button class="wm-minimize">&nbsp;</button>
				<button class="wm-maximize">&nbsp;</button>
				<button class="wm-close">&nbsp;</button>
			</div>
		</header>

		<section class="wm-content" style="overflow-y: hidden !important">
			<div id="appWindow52ab89690baa46c9ebfa686b" style="width: 100%; height: 100%; display: block;overflow:hidden"><iframe width="100%" height="100%" src="//www.youtube.com/embed/mpoiSD-bjP0" frameborder="0" allowfullscreen></iframe></div>
		</section>
		<div style="height: 10px; background-color: #000; position: absolute; bottom: 0px; z-index: 10000; width: 100%;"></div>
		<button class="wm-resize">&nbsp;</button>
	</div>
</div>