<div class="wm-window active" id="52ab89690baa46c9ebfa6865" style="width: 800px; height: 600px; left: 170px; top: 70px; z-index: 1001; display: block;">
	<div class="wm-window-box">
		<header class="wm-window-title" unselectable="on">
			<h1 unselectable="on">Numerics | Calculator</h1>
			<div class="wm-button-group">
				<button class="wm-minimize">&nbsp;</button>
				<button class="wm-maximize">&nbsp;</button>
				<button class="wm-close">&nbsp;</button>
			</div>
		</header>

		<section class="wm-content">
			<div id="appWindow52ab89690baa46c9ebfa686b" style="width: 100%; height: 100%; display: block;"><iframe src="http://www.numerics.info/" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" frameborder="0" style="height: 100%; width: 100%; position: absolute;"></iframe></div>
		</section>

		<button class="wm-resize">&nbsp;</button>
	</div>
</div>