<div id="searchApp" class="fullscreenApp app">
	<link rel="prefetch" href="images/spinner.gif" /> 
	<div id="search-page-container" class="undraggable">
		<div id="search-bar"></div>
		<input id="search-field" type="text" placeholder="search" maxlength="240"/>
		
		<div id="rotate-left" class="horiz-arrow nav-element arrow-button"><i  class="fa fa-angle-left"></i></div>
		<div id="rotate-right" class="horiz-arrow nav-element arrow-button"><i  class="fa fa-angle-right"></i></div>

		<div id="pan-down" class="vert-arrow nav-element arrow-button"><i class="fa fa-angle-down"></i></div>  
		<div id="pan-up" class="vert-arrow nav-element arrow-button"><i class="fa fa-angle-up"></i></div> 

		<div id="logo-mid">
			<a href=""></a><img src="/images/logo-text_med.png">
			<p class="tagline">It's a beautiful world, help make it even better by supporting squify.</p>
		</div>


		<a id="charity-hand" href="/index.html#sponsorship">
		 	<img src="/images/charity2.png"> 
			<div id="charity-text">Sponsor your cause&nbsp;&nbsp;<i class="fa fa-check-square"></i></div>		
		</a>

		<img id="logo-sm" src="/images/logo-text_sm.png">
		<img id="youtube-sample" src="/images/youtube_sample.png" style="position:absolute; height:180px; z-index:1000">

		<div id="promo-msg" >
			<p>50% to 80% of advertising profits are used to help charities and causes you select.</p>
			<p>The rest we use to develop Squify and award open source software contributions.</p>
		</div>

		<div id="search-container"></div>

	</div>
</div>
